@model B4P.ViewModels.GoodsInBasketModel
<div class="top-main">
    <div class="basket">
        <div><p class="main-popular">У вас в корзине следующие товары</p></div>
        @*<div class="container">
          @foreach (var item in Model.Goods)
          {
              <div class="col-3 goods">
                  <div class="product-item">
                      <div class="product-img">
                          <a href="">
                              <img src="@item.GoodPhotoUrl">
                          </a>
                      </div>
                      <div class="product-list">
                          <h3>@item.GoodName</h3>
                      </div>
                  </div>
              </div>

          }
          @foreach (var item in Model.Amount)
          {
              <div class="col-3">
                  <h3>@item</h3>
              </div>
          }
        </div>*@
        <table>
            <tr>
                <td>
                    <table class="basket1">
                        @foreach (var item in Model?.Goods)
                        {
                            <tr>
                                <td>
                                    <div class="product-img-basket">
                                        <a href="">
                                            <img src="@item.GoodPhotoUrl">
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="product-list">
                                        <h3>@item.GoodName</h3>
                                    </div>
                                    <div class="product-list">
                                        <p>@item.GoodDescription</p>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td>
                    <ul>
                        @foreach (var item in Model.Amount)
                        {
                            <li class="product-list list-amount"><p>Количество: @item</p></li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
        <div class="basket_pay">
            <a href="" asp-controller="home" asp-action="Pay" class="cart-button">Оплатить</a>
        </div>
    </div>
</div>   